<ion-header>
  <ion-toolbar>
    <ion-title>Restablecer Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="stacked">Nueva Contraseña</ion-label>
      <ion-input type="password" formControlName="newPassword"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Confirmar Contraseña</ion-label>
      <ion-input type="password" formControlName="confirmPassword"></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit" [disabled]="resetForm.invalid">Restablecer Contraseña</ion-button>
  </form>
</ion-content>